html {
	font-family: "Open Sans", sans-serif;
}

.hidden-image, .hidden-canvas {
	display: none;
}

.main-map {
	position: absolute;
	bottom: 50px;
	left: 50px;
}

.link {
	position: absolute;
	top: 50px;
	padding: 30px 40px 30px 40px;

	text-decoration: none;
	color: black;
	font-size: 14t;
}

.link.active {
	background-color: #ddd;
	font-weight: bold;
}

.link:hover {
	background-color: #eee;
}

.now-link {
	left: 50px;
}

.products-link {
	left: 250px;
}

.right-panel {
	position: absolute;
	width: 650px;
	height: 800px;
	border: 1px solid black;
	bottom: 50px;
	right: 50px;
}

.name-block {
	float: left;
	font-size: 20pt;
}

.inventory-name {
	font-weight: bold;
}

.total-price {
	float: right;
	font-size: 16pt;
}